
.container {
  position: relative;
}

.button-container {
  width: 850px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box {
  position: fixed;
  top: 20px;
  left: 29px;
  width: 800px;
  height: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.container > img,
.inputs-container {
  position: absolute;
  top: 50px;
  left: 0;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.input {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.list {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  overflow-y: scroll;
}

.start {
  justify-content: flex-start;
}

.check {
  position: absolute;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  left: 141px;
}

.saving {
  width: 19px;
  height: 11px;
  left: 157px;
}

.skill {
  width: 19px;
  height: 11px;
  left: 156px;
}

#name {
  top: 85px;
  left: 80px;
  width: 240px;
  height: 30px;
  font-size: x-large;
  font-weight: bolder;
}
#class {
  top: 69px; 
  left: 375px; 
  width: 155px; 
  height: 20px;
}
#background {
  top: 69px; 
  left: 532px; 
  width: 133px; 
  height: 20px;
}
#player {
  top: 69px;
  left: 667px;
  width: 123px;
  height: 20px;
}
#race {
  top: 105px;
  left: 375px;
  width: 155px;
  height: 20px;
}
#alignment {
  top: 105px;
  left: 532px;
  width: 133px;
  height: 20px;
}
#exp {
  top: 105px;
  left: 667px;
  width: 123px;
  height: 20px;
}
#inspiration {
  top: 181px;
  left: 134px;
  width: 30px;
  height: 26px;
}
#pb {
  top: 234px;
  left: 136px;
  width: 30px;
  height: 25px;
}
#ac {
  top: 203px;
  left: 324px;
  width: 39px;
  height: 27px;
}
#initiative {
  top: 194px;
  left: 393px;
  width: 58px;
  height: 49px;
}
#speed {
  top: 194px;
  left: 474px;
  width: 58px;
  height: 49px;
}
#max_hp {
  top: 274px;
  left: 403px;
  width: 124px;
  height: 14px;
}
#current_hp {
  top: 294px;
  left: 320px;
  width: 208px;
  height: 45px;
  justify-content: space-evenly;
}
#temp_hp {
  top: 368px;
  left: 320px;
  width: 208px;
  height: 45px;
  justify-content: space-evenly;
}
#max_hp2 {
  top: 442px; 
  left: 343px;
  width: 66px;
  height: 14px;
}
#hit_dice {
  top: 460px;
  left: 330px;
  width: 70px;
  height: 32px;
}

.stat_mod {
  position: absolute;
  left: 50px; 
  width: 59px; 
  height: 39px;
}

.stat_val {
  position: absolute;
  width: 29px; 
  height: 18px;
  left: 65px;
}

#str_mod {top: 213px;}
#str {top: 259px;}
#dex_mod {top: 313px;}
#dex {top: 359px;}
#con_mod {top: 412px;}
#con {top: 458px;}
#int_mod {top: 512px;}
#int {top: 558px;}
#wis_mod {top: 612px;}
#wis {top: 657px;}
#cha_mod {top: 710px;}
#cha {top: 756px;}
#passive_perception {
  top: 821px;
  left: 44px; 
  width: 31px; 
  height: 23px;
}
#st_str {top: 289.5px;}
#st_dex {top: 308.5px;}
#st_con {top: 327px;}
#st_int {top: 346px;}
#st_wis {top: 364.5px;}
#st_cha {top: 383.5px;}
#st_str_val {top: 288px;}
#st_dex_val {top: 307px;}
#st_con_val {top: 326px;}
#st_int_val {top: 344px;}
#st_wis_val {top: 363px;}
#st_cha_val {top: 382px;}

#check_acrobatice {top: 449px;} 
#check_animal {top: 468px;}
#check_arcana {top: 487px;} 
#check_athletics {top: 505.5px;} 
#check_deception {top: 524px;} 
#check_history {top: 543px;} 
#check_insight {top: 562px;} 
#check_intimidation {top: 580.5px;} 
#check_investigation {top: 599px;} 
#check_medicine {top: 618px;} 
#check_nature {top: 636.5px;} 
#check_perception {top: 655.5px;} 
#check_performance {top: 674px;} 
#check_persuasion {top: 693px;} 
#check_religion {top: 712px;} 
#check_sleight {top: 730.5px;} 
#check_stealth {top: 749px;} 
#check_survival {top: 768px;}

#acrobatice {top: 448px;} 
#animal {top: 467px;}
#arcana {top: 486px;} 
#athletics {top: 504px;} 
#deception {top: 523px;} 
#history {top: 542px;} 
#insight {top: 561px;} 
#intimidation {top: 579px;} 
#investigation {top: 598px;} 
#medicine {top: 617px;} 
#nature {top: 635px;} 
#perception {top: 654px;} 
#performance {top: 673px;} 
#persuasion {top: 692px;} 
#religion {top: 711px;} 
#sleight {top: 729px;} 
#stealth {top: 748px;} 
#survival {top: 767px;}

#other {
  top: 867px;
  left: 44px;
  width: 237px;
  height: 185px;
}

#attack_name_1,
#attack_name_2,
#attack_name_3 {
  top: 545px;
  left: 310px;
  width: 88px;
  height: 21px;
}
#attack_name_1 {
  top: 545px;
}
#attack_name_2 {
  top: 574px;
}
#attack_name_3 {
  top: 602px;
}
#attack_attack_1,
#attack_attack_2,
#attack_attack_3 {
  left: 405px;
  width: 43px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#attack_attack_1 {
  top: 545px;
}
#attack_attack_2 {
  top: 574px;
}
#attack_attack_3 {
  top: 602px;
}
#attack_damage_1, 
#attack_damage_2,
#attack_damage_3 {
  left: 454px;
  width: 86px;
  height: 21px;
  font-size: 12px;
}
#attack_damage_1 {
  top: 545px;
}
#attack_damage_2 {
  top: 574px;
}
#attack_damage_3 {
  top: 602px;
}

#attack_list {
  top: 629px;
  left: 307px;
  width: 226px;
  height: 152px;
}

#equipment {
  top: 823px;
  left: 370px;
  width: 162px;
  height: 218px;
}

#cp,
#sp,
#ep,
#gp,
#pp {
  left: 312px;
  width: 54px;
  height: 28px;
}
#cp {top: 830px;}
#sp {top: 866px;}
#ep {top: 902px;}
#gp {top: 938px;}
#pp {top: 974px;}

#trait {
  top: 192px;
  left: 577px;
  width: 221px;
  height: 70px;
}

#ideals {
  top: 287px;
  left: 577px;
  width: 221px;
  height: 53px;
}

#bonds {
  top: 364px;
  left: 577px;
  width: 221px;
  height: 53px;
}

#flaws {
  top: 440px;
  left: 577px;
  width: 221px;
  height: 53px;
}

#feats {
  top: 531px;
  left: 567px;
  width: 230px;
  height: 510px;
}

.checkbox {
  position: absolute;
  width: 12px;
  height: 12px;
}
#dss1 {
  top: 445px;
  left: 477px;
}
#dss2 {
  top: 445px;
  left: 495px;
}
#dss3 {
  top: 445px;
  left: 513px;
}
#dsf1 {
  top: 466px;
  left: 477px;
}
#dsf2 {
  top: 466px;
  left: 495px;
}
#dsf3 {
  top: 466px;
  left: 513px;
}