
.container {
  position: relative;
}

.container > img,
.inputs-container {
  position: absolute;
  top: 0;
  left: 0;
}

.name {
  position: absolute;
  top: 85px;
  left: 80px;
  width: 240px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
  /* background-color: red;
  opacity: 50%; */
}
