/* 
.container {
  width: 100%;
  position: relative;
}

.container > img,
.inputs-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inputs-container {
 height: 100%;
} */

.name2 {
  /* position: */
  /* top: 250px;
  left: 210px; */
  padding-top: 40%;
  margin-left: 10%;
  width: 800px;
  height: 100px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder; */
}
